body {
  background-color: #f5f5f5;
  /*margin-top: 110px;*/
  margin-top: 60px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

/* margin for home, projectItem, experience templates*/
.top-margin {
  margin-top: 30px;
}

.dark-text {
  /*color: #578ccb;*/
  /*color: #337ab7*/
  color: #343333;
  font-size: 24px;
  font-weight: 400;
}

/*   paragraph text   */
.par-text {
  color: #666565;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}

/*  for experience  'old product text '*/
.extra-padding{
  padding: 5px 0 1px 0;
}

/* project/experience text */
.desc-text {
  font-size: 20px;
  font-weight: 300;
  line-height: 34px;
  color: #666565;
}

/* about, skills, etc text   */
.section{
  font-size: 40px;
  font-weight: 200;
  color: #343333;
  margin-bottom: 1em;
}

.intro{
  font-size: 40px;
  font-weight: 200;
  color: #343333;
}

.top-bottom-margins {
  margin: 3em 0;
}

.bottom-margin {
  margin-bottom: 2em;
}

.about {
  margin-bottom: 5em;
}

.navbar-brand {
  font-size: 20px;
  color: #000 !important;
  font-weight: bold;
  letter-spacing: 1px;
}

.navbar-default {
  border-bottom: 1px solid #e5e5e5;
  color: #000 !important;
  background-color: #fff;
}

/**** hero image****/
.macbook-image {
  width:90%;
  margin-left:20px;
  padding-top: 30px;
}

/**** contact form ****/
#contact {
  background: #f1f0ef;
}

/**** project ****/
.project-thumbnail {
  /*width: 35em;
  height: 25em;*/
  border: 1px black solid;
  margin: 1px 0;
}

.project-width {
  width: 80%;
  margin: auto;
}

.step-padding {
  padding: 2em 0;
}

.searchBar-shading {
  background-color: #8f8f8f;
  padding: 1em 0;
}

/**** link hover   *****/
a:hover {
  text-decoration: none;
}

/*****    SKILLS  *****/
.skills-box {
  background-color: #337ab7;
  /*color: #d9d9d9;*/
  color: #e2e2e2;
  width: 90%;
  height: auto;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.4)
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
}

/*****  education logos   *****/
.logo {
  height: 35px;
  margin: 0 1em;
  width: auto;
}

/*****drop shadow *****/
.box-shadow {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.4)
}

/**** profile picture****/
.profile-img{
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background-image: url('./images/Brad_Efting.jpg');
  background-size: cover;
  display: block;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.6)
}

.back-button {
  position: fixed;
  top: 10%;
  left: 0.5%;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.4);
  z-index: 1;
}

footer {
  border-top: 1px solid #e5e5e5;
  padding: 20px;
}
