
body {
  background-color: #f5f5f5;
  margin-top: 110px;
  font-size: 16px;
}

main {
  color: #666;
  font-family: 'Open Sans',sans-serif;
}

.dark-text {
  /*color: #578ccb;*/
  /*color: #337ab7*/
  color: #343333;
}

/*   paragraph text   */
.par-text {
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}

/* about, skills, etc text   */
.section{
  font-size: 36px;
  font-weight: 300;
  color: #343333;
  margin-bottom: 1em;
}

.top-bottom-margins {
  margin: 3em 0;
}

.bottom-margin {
  margin-bottom: 2em;
}

.about {
  margin-bottom: 5em;
  width: 95%;
}

.navbar-brand {
  font-size: 20px;
  color: #000 !important;
  font-weight: bold;
}

.navbar-default {
  /*text-transform: uppercase;*/
  border-bottom: 1px solid #e5e5e5;
  color: #000 !important;
  background-color: #fff;
}

/**** hero image****/
.macbook-image {
  width:90%;
  margin-left:20px;
  padding-top: 30px;
}


/**** contact form ****/
#contact {
  background: #f1f0ef;
}


/**** project ****/
.project-thumbnail {
  /*width: 35em;
  height: 25em;*/
  border: 1px black solid;
  margin: 2px;
}


.project-width {
  width: 80%;
  margin: auto;
}


/*****    SKILLS  *****/
.skills-box {
  /*border: 1px solid black;*/
  background-color: #337ab7;
  /*color: #d9d9d9;*/
  color: #e2e2e2;
  width: 90%;
  height: auto;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.4)
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*****  education logos   *****/
.logo {
  height: 35px;
  width: auto
}

/*****drop shadow *****/
.box-shadow {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.4)
}

/**** profile picture****/
.profile-img{
  margin: 0 auto;
  width: 150px;
  height: 150px;
  background-image: url('./images/Brad_Efting.jpg');
  background-size: cover;
  display: block;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.6)
}

.back-button {
  position: fixed;
  top: 8%;
  left: 1%;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.4)
}

footer {
  border-top: 1px solid #e5e5e5;
  padding: 20px;
}
